[submodule ".vim/plugins/ctrlp.vim"]
	path = .vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim/
[submodule "vim-hybrid"]
	path = vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
